.student{
    position: absolute;
    top:20%;
    left:30%;
    height: 250px;
    width: 500px;
    border-radius: 10px;
    border: 3px solid #2a6592;
    background-color: #001F3F;
    box-shadow: 0px 0px 30px 0px black;
    color: white;
}
p{
    color: red;
}
form{
    padding: 20px;
    margin-left: 20px;
    margin-top: 30px;
    line-height: 30px;
}
input[type='submit']{
    background-color: white;
    font-weight: bold;
    color: #2a6592;
    margin-top: 40px;
    margin-left: 160px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
}
input{
    height: 25px;
    font-size:medium;
}
input:focus{
    color: rgb(128, 0, 43);
    border: none;
}
    
    
    
